/*? CSS  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #2f2f2f;
}

.nav-bar {
    height: 80px;
    width: 100%;
    /* background-color: white; */
    background-color: gold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.nav-bar h1 {
    color: #2f2f2f;
    border: 2px solid #2f2f2f;
    padding: 0.5%;
    border-radius: 5px;
}

.main-section {
    padding: 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-section a {
    width: 40%;
    /* background-color: white; */
    background-color: gold;
    color: #2f2f2f;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 2% 0;
    padding: 1% 6%;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.main-section a:hover {
    transform: scale(1.03);
    font-size: 1.25rem;
}