/*? CSS  */

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Orbitron;
}

:root{
    --accent-color: #17123f;
}

body {
    height: 100vh;
    width: 100%;
    background: #222222;
    /* background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); */
    display: flex;
    justify-content: center;
    align-items: center;
}


.clock {
    background-color: var(--accent-color);
    border: 2px solid white;
    width: 40vw;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: white;
    box-shadow: 1px 1px 5px grey;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #ffffff1f);
}

h1 {
    font-size: 5rem;
}